<section name="UpdateLocal">
    <md-content md-theme="docs-dark" layout="column" layout-align="center center">
        <form layout="column" layout-align="center center" name="updateLocalForm" ng-submit="$ctrl.updateLocal()" novalidate>
            <div layout="row">
                <md-input-container class="smallinput">
                    <label>Nombre</label>
                    <input type="text" name="name" class="form-control" ng-model="$ctrl.editLocal.name" required>
                    <p class="error" ng-show="updateLocalForm.name.$invalid && !updateLocalForm.name.$pristine">Escribe un nombre</p>                    
                </md-input-container>

                <md-input-container class="smallinput">
                    <label>Descripción</label>
                    <input type="text" name="description" class="form-control" ng-model="$ctrl.editLocal.description" required>
                    <p class="error" ng-show="updateLocalForm.description.$invalid && !updateLocalForm.description.$pristine">Escribe una descripción</p>                    
                </md-input-container>

            </div>
            <div layout="row">
                <md-input-container class="verysmallinput">
                    <label>Capacidad</label>
                    <input name="capacity" class="form-control" ng-model="$ctrl.editLocal.capacity" type="number" step="1" min="0" required>
                    <p class="error" ng-show="updateLocalForm.capacity.$invalid && !updateLocalForm.capacity.$pristine">Escribe una capacidad</p>                                    
                </md-input-container>
                <md-input-container class="verysmallinput">
                    <label>Latitud</label>
                    <input type="text" name="lat" class="form-control" ng-model="$ctrl.editLocal.lat" type="number" required>
                    <p class="error" ng-show="updateLocalForm.lat.$invalid && !updateLocalForm.lat.$pristine">Escribe una latitud</p>                    
                </md-input-container>
                <md-input-container class="verysmallinput">
                    <label>Longitud</label>
                    <input type="text" name="lng" class="form-control" ng-model="$ctrl.editLocal.lng" type="number" required>
                    <p class="error" ng-show="updateLocalForm.lng.$invalid && !updateLocalForm.lng.$pristine">Escribe una longitud</p>                    
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="biginput">
                    <label>Imagen</label>
                    <input ng-model="$ctrl.editLocal.image" type="text">
                </md-input-container>
            </div>
            <div>
                <md-button class="md-raised md-primary" type="button" ng-click="$ctrl.updateLocal()">Guardar cambios</md-button>
            </div>
        </form>
    </md-content>
</section>