<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="hibernateSessionFactory">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">PlAyEr1203</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/leisuredb</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
 <!--  <property name="hibernate.cache.use_second_level_cache">false</property>-->
 <!--  <property name="hibernate.cache.use_query_cache">false</property>-->
  <!-- <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->
<!--   <property name="hibernate.hbm2ddl.auto">create</property> -->
  <mapping class="es.udc.fi.tfg.model.Employee"/>
  <mapping class="es.udc.fi.tfg.model.Artist"/>
  <mapping class="es.udc.fi.tfg.model.Tag"/>
  <mapping class="es.udc.fi.tfg.model.Local"/>
  <mapping class="es.udc.fi.tfg.model.Event"/>
  <mapping class="es.udc.fi.tfg.model.User"/>
  <mapping class="es.udc.fi.tfg.model.Rating"/>
  <mapping class="es.udc.fi.tfg.model.Comment"/>
 </session-factory>
</hibernate-configuration>