<section name="RegisterDialog">
    <md-content layout="column" layout-align="center center" md-theme="docs-dark" layout-padding>
        <div layout="row" layout-align="center center">
            <md-input-container class="smallinput">
                <label>Nombre</label>
                <input ng-model="ctrl.parent.editLogin.name">
            </md-input-container>
            
            <md-input-container class="smallinput">
                <label>Email</label>
                <input ng-model="ctrl.parent.editLogin.email">
            </md-input-container>
        </div>
        <div layout="row" layout-align="center center">
            <md-input-container class="smallinput">
                <label>Contraseña</label>
                <input type="password" ng-model="ctrl.parent.editLogin.password">
            </md-input-container>

             <md-input-container class="smallinput">
                <label>Repita su contraseña</label>
                <input type="password" ng-model="ctrl.parent.editPasswordCheck">
            </md-input-container>
        </div>
        <div>
            <md-button class="md-raised md-primary" ng-click="ctrl.parent.editUserLogin();ctrl.parent.dialogOpen=false;ctrl.parent.hideDialog()">Guardar</md-button>
        </div>
    </md-content>
</section>