<section name="GetEvent">
	<md-content layout="column">
		<div layout="row" layout-align="center stretch">
			<div flex="45" layout="column">
				<h1 class="md-no-sticky">{{$ctrl.event.name}}</h1>
				<div class="md-media-lg card-media">
					<img ng-if="$ctrl.eventArtists.length > 0" class="image" ng-src="{{$ctrl.eventArtists[0].image}}">
					<img ng-if="$ctrl.eventArtists.length == 0" class="image" ng-src="https://i.ytimg.com/vi/Dtvw-MVGD0g/maxresdefault.jpg">					
				</div>
			</div>
			
			<div flex="30" layout="column" layout-align="center center" layout-margin>
				<br>
				<br>
				<br>
				<br>
				<p>{{$ctrl.event.description}}</p>
				<p>Fecha y hora de inicio: {{$ctrl.event.beginDate | date:'dd-MM-yyyy HH:mm'}}</p>
				<p>Fecha y hora de fin: {{$ctrl.event.endDate | date:'dd-MM-yyyy HH:mm'}}</p>				
				<h3 ng-if="$ctrl.globalRating[0] != -1">Valoración global del evento: {{$ctrl.globalRating[0]}}</h3>
				<h3 ng-if="$ctrl.globalRating[0] == -1">Aún no hay valoraciones.</h3>
			</div>
		</div>
		<div layout="column" layout-align="center center">
			<md-list layout="column" layout-align="center stretch" class="list" flex>
				<h1 class="md-no-sticky">Artistas asistentes</h1>
				<md-list-item class="md-2-line contact-item" ng-repeat="artist in $ctrl.eventArtists" 
					ng-click="$ctrl.artistDetails(artist.id)">
					<div layout="column" layout-align="center center" class="md-list-item-text compact">
						<div flex ="100">
							<!--<p>{{artist.id}}</p>-->
							<h3>{{artist.name}}</h3>
							<!--<p>{{tag.description}}</p>-->
						</div>				
						<!--<div flex ="20" layout-margin class="md-media-lg card-media">
							<img class = "imagelist"ng-src="{{artist.image}}">
						</div>					-->
					</div>
				<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>
			<div layout ="row">
				<md-button ng-if="$ctrl.showPreviousButtonEventArtist" class="md-raised md-primary" ng-click="$ctrl.getPreviousEventArtist()">Anterior</md-button>
				<md-button ng-if="$ctrl.showNextButtonEventArtist" class="md-raised md-primary" ng-click="$ctrl.getNextEventArtist()">Siguiente</md-button>
			</div>

			<md-list layout="column" layout-align="center stretch" class="list" flex>
				<h1 class="md-no-sticky">Local</h1>
				<md-list-item class="md-2-line contact-item" ng-repeat="local in $ctrl.locals" 
					ng-click="$ctrl.localDetails(local.id)">
					<div layout="column" layout-align="center center" class="md-list-item-text compact">
						<!--<p>{{event.id}}</p>-->
						<h3>{{local.name}}</h3>
					</div>
					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>


			<div>
				<ng-map class="map" center="[{{$ctrl.local.lat}}, {{$ctrl.local.lng}}]">
					<marker position="[{{$ctrl.local.lat}}, {{$ctrl.local.lng}}]" centered="true"></marker>
				</ng-map>
				
				<!--{{$ctrl.local.lat}}
				{{$ctrl.local.lng}}-->


			</div>	
			<md-list layout="column" layout-align="center stretch" class="list" flex>
				<h1 class="md-no-sticky">Comentarios</h1>
				<h3 ng-if="$ctrl.eventComments.length == 0">Aún no hay comentarios.</h3>
				<md-list-item class="md-2-line contact-item" ng-repeat="comment in $ctrl.eventComments" ng-click=null>
					<div class="md-list-item-text compact">
						<h3>{{comment.text}}</h3>
						<p>{{comment.user.name}} - {{comment.date | date:'dd-MM-yyyy HH:mm'}} </p>
					</div>
					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>
			<div layout ="row">
				<md-button ng-if="$ctrl.showPreviousButtonEventComment" class="md-raised md-primary" ng-click="$ctrl.getPreviousEventComment()">Comentarios más recientes</md-button>
				<md-button ng-if="$ctrl.showNextButtonEventComment" class="md-raised md-primary" ng-click="$ctrl.getNextEventComment()">Comentarios más antiguos</md-button>
			</div>
			<md-button class="md-raised md-primary" ng-if="$ctrl.loginInfo.length > 0" ng-click="$ctrl.commentEventDialog()">Comentar</md-button>

			<md-list layout="column" layout-align="center stretch" class="list" flex>
				<h1 class="md-no-sticky">Valoraciones</h1>
				<h3 ng-if="$ctrl.eventRatings.length == 0">Aún no hay valoraciones.</h3>
				<md-list-item class="md-2-line contact-item" ng-repeat="rating in $ctrl.eventRatings" ng-click=null>
					<div class="md-list-item-text compact">
						<h3>{{rating.rating}}</h3>
						<p>{{rating.user.name}} - {{rating.date  | date:'dd-MM-yyyy HH:mm'}}</p>
					</div>
					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>
			<div layout ="row">
				<md-button ng-if="$ctrl.showPreviousButtonEventRating" class="md-raised md-primary" ng-click="$ctrl.getPreviousEventRating()">Valoraciones más recientes</md-button>
				<md-button ng-if="$ctrl.showNextButtonEventRating" class="md-raised md-primary" ng-click="$ctrl.getNextEventRating()">Valoraciones más antiguas</md-button>
			</div>
			<md-button class="md-raised md-primary" ng-if="$ctrl.loginInfo.length > 0" ng-click="$ctrl.rateEventDialog()">Valorar</md-button>
			</br>
			</br>
			</br>
		</div>
		<div layout="row" layout-align="center center">	
			<md-button class="md-raised md-primary" ng-if="$ctrl.isFollowingEvent === false && $ctrl.loginInfo.length > 0" ng-click="$ctrl.followEvent()">Seguir</md-button>
			<md-button class="md-raised md-primary" ng-if="$ctrl.isFollowingEvent === true && $ctrl.loginInfo.length > 0" ng-click="$ctrl.unfollowEvent()">Dejar de Seguir</md-button>
			<md-button class="md-raised md-primary" ng-if="$ctrl.loginInfo[2] == 2" ui-sref="updateEvent({ id: $ctrl.event.id })">Editar</md-button>
			<md-button class="md-raised md-primary" ng-if="$ctrl.loginInfo[2] == 2" ng-click="$ctrl.deleteEvent()">Eliminar</md-button>
		</div>
	</md-content>
</section>








<!--<section name="GetEvent">
	<md-content class="md-padding" layout="column" layout-align="center center">
		<div layout="row">
			<div class="left">
				<div class="presentation">
					<img class="image" ng-src="{{$ctrl.eventArtists[0].image}}">				
				</div>	
				<div>
					<md-list class="list">
						<md-subheader class="md-no-sticky">Artistas asistentes</md-subheader>
						<md-list-item class="md-2-line contact-item" ng-repeat="artist in $ctrl.eventArtists" 
							ng-click="$ctrl.artistDetails(artist.id)">
							<div class="md-list-item-text compact">
								<h2>{{artist.name}}</h2>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
					<div layout ="row">
						<md-button ng-if="$ctrl.showPreviousButtonEventArtist" class="md-raised md-primary" ng-click="$ctrl.getPreviousEventArtist()">Anterior</md-button>
						<md-button ng-if="$ctrl.showNextButtonEventArtist" class="md-raised md-primary" ng-click="$ctrl.getNextEventArtist()">Siguiente</md-button>
					</div>


					<md-list class="list">
						<md-subheader class="md-no-sticky">Local</md-subheader>
						<md-list-item class="md-2-line contact-item" ng-repeat="local in $ctrl.locals" 
							ng-click="$ctrl.localDetails(local.id)">
							<div class="md-list-item-text compact">
								<h2>{{local.name}}</h2>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
				</div>
				<div>
					<h3>Localización</h3>
					<ng-map center="[{{$ctrl.local.lat}}, {{$ctrl.local.lng}}]">
      					<marker position="[{{$ctrl.local.lat}}, {{$ctrl.local.lng}}]" centered="true"></marker>
    				</ng-map>

					{{$ctrl.local.lat}}
					{{$ctrl.local.lng}}

					{{$ctrl.lat}}
					{{$ctrl.lng}}
				</div>	
			</div>
			<div class="right">
				<div class="presentation">
					<div class="eventTitle">
						<h1>{{$ctrl.event.name}}</h1>
					</div>
					<div class="eventDescription">
						<p>{{$ctrl.event.description}}</p>
					</div>	
					<div class="eventDate">
						<p>Fecha y hora: {{$ctrl.event.beginDate}}</p>
					</div>	
				</div>
				<div>
					<md-list>
						<md-subheader class="md-no-sticky">Comentarios del evento</md-subheader>
						<md-list-item class="md-2-line contact-item" ng-repeat="comment in $ctrl.comments" ng-click=null>
							<div class="md-list-item-text compact">
								<h3>{{comment.text}}</h3>
								<p>{{comment.user.name}}</p>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
					<md-button ng-if="$ctrl.loginInfo.length > 0" ng-click="$ctrl.commentEventDialog()">Comentar</md-button>
					<md-subheader class="md-no-sticky">Valoración global del evento</md-subheader>
					<p>{{$ctrl.globalRating[0]}}</p>
					<md-list>
						<md-subheader class="md-no-sticky">Valoraciones del evento</md-subheader>
						<md-list-item class="md-2-line contact-item" ng-repeat="rating in $ctrl.ratings" ng-click=null>
							<div class="md-list-item-text compact">
								<h3>{{rating.rating}}</h3>
								<p>{{rating.user.name}}</p>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
					<div layout = "column">
						<md-button ng-if="$ctrl.loginInfo.length > 0" ng-click="$ctrl.rateEventDialog()">Valorar</md-button>
						<md-button class="md-raised md-primary" ng-if="$ctrl.isFollowingEvent === false && $ctrl.loginInfo.length > 0" ng-click="$ctrl.followEvent();$ctrl.interestEvent()">Seguir</md-button>
						<md-button class="md-raised md-primary" ng-if="$ctrl.isFollowingEvent === true && $ctrl.loginInfo.length > 0" ng-click="$ctrl.unfollowEvent()">Dejar de Seguir</md-button>
						<md-button ng-click="$ctrl.interestEvent()">Me interesa</md-button>

						<md-button ng-if="$ctrl.loginInfo[2] == 2" ui-sref="updateEvent({ id: $ctrl.event.id })">Editar</md-button>
						<md-button ng-if="$ctrl.loginInfo[2] == 2" ng-click="$ctrl.deleteEvent()">Eliminar</md-button>
					</div>
				</div>
			</div>	
		</div>                           -->


		<!--<div flex-xs flex-gt-xs="50" layout="column">
			<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
				<md-button ng-click="$ctrl.interestEvent()">Me interesa</md-button>

				<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{$ctrl.event.name}}</span>
					<span class="md-subhead">{{$ctrl.event.description}}</span>
                    <span class="md-subhead">{{$ctrl.event.beginDate}}</span>
					<span class="md-subhead">{{$ctrl.event.endDate}}</span>
				</md-card-title-text>
				<md-card-title-media>
					<div class="md-media-lg card-media">IMAGEN</div>
				</md-card-title-media>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
				<md-button ng-if="$ctrl.loginInfo.length > 0" ui-sref="updateEvent({ id: $ctrl.event.id })">Editar</md-button>
				<md-button ng-if="$ctrl.loginInfo.length > 0" ng-click="$ctrl.deleteEvent()">Eliminar</md-button>
				</md-card-actions>
				<md-list>
					<md-subheader class="md-no-sticky">Artistas</md-subheader>
					<md-list-item class="md-2-line contact-item" ng-repeat="artist in $ctrl.eventArtists" 
						ng-click="$ctrl.artistDetails(artist.id)">
						<div class="md-list-item-text compact">
							<p>{{artist.id}}</p>
							<h3>{{artist.name}}</h3>
							<p>{{artist.description}}</p>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
				</md-list>
				<md-list>
					<md-subheader class="md-no-sticky">Local</md-subheader>
					<md-list-item class="md-2-line contact-item" ng-repeat="local in $ctrl.locals" 
						ng-click="$ctrl.localDetails(local.id)">
						<div class="md-list-item-text compact">
							<p>{{local.id}}</p>
							<h3>{{local.name}}</h3>
							<p>{{local.description}}</p>
						</div>
						<md-divider ng-if="!$last"></md-divider>
					</md-list-item>
				</md-list>


				<md-card-content>
					<md-list>
						<md-subheader class="md-no-sticky">Comentarios del evento</md-subheader>
						<md-list-item class="md-2-line contact-item" ng-repeat="comment in $ctrl.comments" ng-click=null>
							<div class="md-list-item-text compact">
								<p>{{comment.id}}</p>
								<h3>{{comment.text}}</h3>
								<p>{{comment.user.name}}</p>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
					<md-button ng-if="$ctrl.loginInfo.length > 0" ng-click="$ctrl.commentEventDialog()">Comentar</md-button>
					<md-subheader class="md-no-sticky">Valoración global del evento</md-subheader>
					<p>{{$ctrl.globalRating[0]}}</p>
					<md-list>
						<md-subheader class="md-no-sticky">Valoraciones del evento</md-subheader>
						<md-list-item class="md-2-line contact-item" ng-repeat="rating in $ctrl.ratings" ng-click=null>
							<div class="md-list-item-text compact">
								<p>{{rating.id}}</p>
								<h3>{{rating.rating}}</h3>
								<p>{{rating.user.name}}</p>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
					<md-button ng-if="$ctrl.loginInfo.length > 0" ng-click="$ctrl.rateEventDialog()">Valorar</md-button>
					<md-button class="md-raised md-primary" ng-if="$ctrl.isFollowingEvent === false && $ctrl.loginInfo.length > 0" ng-click="$ctrl.followEvent()">Seguir</md-button>
					<md-button class="md-raised md-primary" ng-if="$ctrl.isFollowingEvent === true && $ctrl.loginInfo.length > 0" ng-click="$ctrl.unfollowEvent()">Dejar de Seguir</md-button>
				</md-card-content>
			</md-card>
		</div> -->
	<!--</md-content>
</section>-->