<section name="CreateArtist">
    <!--<form>
        <div class="form-group">
            <label for="id">Id</label>
            <input type="id" class="form-control" id="id" placeholder="Introduce Id" ng-model="$ctrl.newArtist.id">
        </div>
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="name" class="form-control" id="name" placeholder="Introduce Nombre" ng-model="$ctrl.newArtist.name">
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <input type="description" class="form-control" id="description" placeholder="Introduce Descripcion" ng-model="$ctrl.newArtist.description">
        </div>
        <div class="form-group">
            <label for="rating">Valoración</label>
            <input type="rating" class="form-control" id="rating" placeholder="Introduce valoración" ng-model="$ctrl.newArtist.rating">
        </div>

        <button type="submit" class="btn btn-default" ng-click="$ctrl.createArtist()">Crear</button>
    </form>-->
    <md-content layout="row" layout-align="center center" md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <form name="createArtistForm" ng-submit="$ctrl.createArtist()" novalidate>
            <div>
                <md-input-container>
                    <label>Nombre</label>
                    <input type="text" name="name" class="form-control" ng-model="$ctrl.newArtist.name" required>
                    <p class="error" ng-show="createArtistForm.name.$invalid && !createArtistForm.name.$pristine">Escribe un nombre</p>
                </md-input-container>

                <md-input-container>
                    <label>Descripción</label>
                    <input type="text" name="description" class="form-control" ng-model="$ctrl.newArtist.description" required>
                    <p class="error" ng-show="createArtistForm.description.$invalid && !createArtistForm.description.$pristine">Escribe una descripción</p>

                </md-input-container>

                <md-input-container>
                    <label>Imagen</label>
                    <input ng-model="$ctrl.newArtist.image">
                </md-input-container>
            </div>
            <div layout="column" layout-align="center center">
                <md-button type="button" class="md-raised md-primary" ng-click="$ctrl.createArtist()">Crear</md-button>
            </div>
        </form>
    </md-content>
</section>