<section name="UpdateArtist">
    <md-content md-theme="docs-dark" layout="column" layout-align="center center">
        <form name="updateArtistForm" ng-submit="$ctrl.updateArtist()" novalidate>
            <div>
                <md-input-container>
                    <label>Nombre</label>
                    <input type="text" name="name" class="form-control" ng-model="$ctrl.editArtist.name" required>
                    <p class="error" ng-show="updateArtistForm.name.$invalid && !updateArtistForm.name.$pristine">Escribe un nombre</p>
                </md-input-container>
                <md-input-container>
                    <label>Descripción</label>
                    <input type="text" name="description" class="form-control" ng-model="$ctrl.editArtist.description" required>
                    <p class="error" ng-show="updateArtistForm.description.$invalid && !updateArtistForm.description.$pristine">Escribe una descripción</p>                
                </md-input-container>
                <md-input-container>
                    <label>Imagen</label>
                    <input ng-model="$ctrl.editArtist.image">
                </md-input-container>
            </div>
            <div layout="column" layout-align="center center">
                <md-button type="button" class="md-primary md-raised" ng-click="$ctrl.updateArtist()">Actualizar</md-button>
            </div>
        </form>
    </md-content>


    <!--<form>
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="name" class="form-control" id="name" placeholder="Introduce Nombre" ng-model="$ctrl.editArtist.name">
        </div>
        <div class="form-group">
            <label for="description">Descripción</label>
            <input type="description" class="form-control" id="description" placeholder="Introduce Descripcion" ng-model="$ctrl.editArtist.description">
        </div>
        <div class="form-group">
            <label for="rating">Valoración</label>
            <input type="rating" class="form-control" id="rating" placeholder="Introduce valoración" ng-model="$ctrl.editArtist.rating">
        </div>

        <button type="submit" class="btn btn-default" ng-click="$ctrl.updateArtist()">Actualizar</button>
        {{$ctrl.editArtist}}
    </form>-->
</section>