<section name="UpdateTag">
    <md-content md-theme="docs-dark" layout="row" layout-align="center center">
        <form layout="column" layout-align="center center" name="updateTagForm" ng-submit="$ctrl.updateTag()" novalidate>
            <div>
                <md-input-container class="smallinput">
                    <label>Nombre</label>
                    <input type="text" name="name" class="form-control" ng-model="$ctrl.editTag.name" required>
                    <p class="error" ng-show="updateTagForm.name.$invalid && !updateTagForm.name.$pristine">Escribe un nombre</p>
                </md-input-container>
            </div>
            <div>
                <md-button class="md-raised md-primary" type="button" ng-click="$ctrl.updateTag()">Guardar cambios</md-button>
            </div>
        </form>
    </md-content>
</section>