<section name="GetUser">
	<md-content layout="column">
		<div layout="row" layout-align="center stretch">
			<div flex="45" layout="column">
				<h1 class="md-no-sticky">{{$ctrl.user.name}}</h1>
				<!--<div class="md-media-lg card-media">
						<img class="image" ng-src="{{$ctrl.artist.image}}">
				</div>-->
			</div>
			
			<div flex="30" layout="column" layout-align="center center" layout-margin>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
		
		<div layout ="column" layout-align="center center">
			<p>Email: {{$ctrl.user.email}}</p>
			<p ng-if="$ctrl.user.type == 1">Tipo de usuario: Estándar</p>
			<p ng-if="$ctrl.user.type == 2">Tipo de usuario: Administrador</p>
		</div>	

		<div layout="row" layout-align="center center">	
			<md-button class="md-raised md-primary" ng-if="$ctrl.loginInfo[2] == 2" ui-sref="updateUser({ id: $ctrl.user.id })">Editar</md-button>
			<md-button class="md-raised md-primary" ng-if="$ctrl.loginInfo[2] == 2" ng-click="$ctrl.deleteUser()">Eliminar</md-button>
		</div>
	</md-content>
</section>